<a href="https://colab.research.google.com/github/pranabsarma18/Tools-in-Data-Science/blob/main/Clustering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Demo on k-Means clustering and cluster analysis**

In [1]:
import pandas as pd
import numpy as np

from sklearn.cluster import KMeans

In [2]:
stockData = pd.read_csv("/content/TDS_Week_5_Dataset_2 - Sheet1.csv")

In [13]:
stockData.head()

,record number,Price,Market Cap,Free Float Market Cap %,6m ADV,RoE %,RoCE %,EBIT Margin %,EPS,PAT %,Stock Return %,cluster
0,0,0.001319,0.001970,0.826221,0.021519,0.000000,0.476845,0.038117,0.000701,0.0,0.268651,0
1,1,0.000769,0.000579,0.441647,0.003081,0.000000,0.232072,0.000000,0.025832,0.0,0.190937,0
2,2,0.000132,0.000316,0.655003,0.000778,0.065568,0.000000,0.000000,0.001083,0.0,0.122265,0
3,3,0.000824,0.007208,0.000533,0.000252,0.408417,0.416031,0.000000,0.000918,0.0,0.100503,0
4,4,0.000596,0.000358,0.805526,0.003378,0.116626,0.474160,0.067420,0.029651,0.0,0.050376,0

In [7]:
features = stockData.columns
features

Index(['record number', 'Price', 'Market Cap', 'Free Float Market Cap %',
       '6m ADV', 'RoE %', 'RoCE %', 'EBIT Margin %', 'EPS', 'PAT %',
       'Stock Return %'],
      dtype='object')

In [6]:
import random
random.seed(1729)

kmeans = KMeans(7)

In [8]:
clus = kmeans.fit_predict(stockData)

In [9]:
stockData['cluster'] = clus
stockData['cluster'].value_counts()

0    176
4    176
6    176
3    176
2    174
1    174
5    173
Name: cluster, dtype: int64

In [10]:
clusterDesc = pd.DataFrame(stockData.groupby('cluster').mean().round(3))
clusterDesc.insert(0,'size',stockData['cluster'].value_counts())

In [11]:
clusterDesc

,size,record number,Price,Market Cap,Free Float Market Cap %,6m ADV,RoE %,RoCE %,EBIT Margin %,EPS,PAT %,Stock Return %
cluster,,,,,,,,,,,,
0,176,87.5,0.002,0.004,0.425,0.014,0.315,0.484,0.446,0.037,0.381,0.127
1,174,785.5,0.017,0.020,0.361,0.040,0.585,0.596,0.550,0.009,0.532,0.149
2,174,438.5,0.006,0.006,0.406,0.016,0.544,0.556,0.525,0.039,0.510,0.154
3,176,1136.5,0.018,0.040,0.378,0.055,0.602,0.625,0.619,0.005,0.615,0.134
4,176,263.5,0.004,0.006,0.367,0.017,0.500,0.531,0.518,0.039,0.500,0.156
5,173,612.0,0.007,0.009,0.392,0.020,0.564,0.572,0.540,0.022,0.520,0.151
6,176,960.5,0.016,0.021,0.376,0.033,0.595,0.609,0.571,0.006,0.549,0.145

In [17]:
print(stockData[stockData["record number"] == 750].cluster)
print(stockData[stockData["record number"] == 737].cluster)

750    1
Name: cluster, dtype: int32
737    1
Name: cluster, dtype: int32

In [18]:
print(stockData[stockData["record number"] == 386].cluster)
print(stockData[stockData["record number"] == 337].cluster)

386    2
Name: cluster, dtype: int32
337    4
Name: cluster, dtype: int32

In [19]:
print(stockData[stockData["record number"] == 1161].cluster)
print(stockData[stockData["record number"] == 727].cluster)

1161    3
Name: cluster, dtype: int32
727    1
Name: cluster, dtype: int32

In [20]:
print(stockData[stockData["record number"] == 583].cluster)
print(stockData[stockData["record number"] == 950].cluster)

583    5
Name: cluster, dtype: int32
950    6
Name: cluster, dtype: int32